<tr data-id="{{this.id}}" data-title="{{this.title}}" data-author="{{this.author}}" data-isbn="{{this.isbn}}"
    data-tags="{{this.tags}}">
    <td>{{this.title}}</td>
    <td>{{this.author}}</td>
    <td>{{this.isbn}}</td>
    <td>{{this.tags}}</td>
    <td class="{{this.id}}">
        <button type="button" disabled class="edit">Edit</button>
        <button class="delete">Delete</button>
    </td>
</tr>